<div class="col-md-5">
    <h3>{{titulo}}</h3>

    <table class="table table-hover">
        <thead class="">
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animales">
                <td>{{animal.nombre}}</td>
                <td>{{animal.ano}}</td>
                <td class="text-center">
                    <a [routerLink]="['/animal', animal._id]" class="btn btn-success btn-sm"><i class="fa fa-search-plus" ></i></a>
                    <b> |</b>
                    <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                    <b> |</b>
                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
