<div class="col-md-12">
    <h3>{{titulo}}</h3>

    <table class="table table-hover">
        <thead class="">
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Oso Panda</td>
                <td>2012</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm"><i class="fa fa-search-plus"></i></button>
                    <b> |</b>
                    <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                    <b> |</b>
                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
