#main .jumbotron{
    padding: 30px;
    padding-top: 5px;
    margin-top: -5px;
    border-radius: 10px;
    background: #eee;
    box-shadow: 3px 3px 2px #ccc;
}

.navbar-inverse {
    background-color: forestgreen;
    border-color: darkgreen;
}

.navbar-inverse .navbar-brand {
    color: white;
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    transition: 300ms ease;
    color: black;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: black;
    background-color: darkgreen;
}

.dropdown:hover .dropdown-menu {
    display: block;
    color: white;
    opacity: 1;
    background-color:  forestgreen;
    border-color: forestgreen;
}

/* .dropdown.open .dropdown-menu {
    display: block;
    opacity: 1;
    background-color:  forestgreen;
    border-color: forestgreen;   
} */

/* .dropdown-menu>li>a{
    color: white;
    background-color:  forestgreen;
    text-decoration: none;
    border-color: forestgreen;
} */

.dropdown-menu>li>a:hover{
    background: #eee;
    color: black;
    transition: 300ms ease;
}

.expand_caret {
    transform: scale(1.6);
    margin-left: 8px;
    margin-top: -4px;
}
a[aria-expanded='true'] > .expand_caret {
    transform: scale(1.6) rotate(180deg);
}

.alert-danger{
    background: transparent;
    color: #dd4b39;
}

.navbar {
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    border-bottom: 3px solid forestgreen;
}

.navbar-nav .active{
    border-bottom: 3px solid orange !important;
}